@model IntensiveLearning.Database.SubBnd

@{
    ViewBag.Title = "حذف";
}
<div class="WhiteBlur">
    <h2>حذف</h2>

    <h3>هل أنت متأكد من حذف العنصر؟</h3>

    <h4>SubBnd</h4>
    <hr />
    <div class="InfoContainer">
        <div class="col-sm-6 pull-right PaddingRightPart col-xs-12">

            <h4>
                @Html.DisplayNameFor(model => model.Subject)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Subject)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.PeacePrice)
            </h4>

            <p>
                @Html.DisplayFor(model => model.PeacePrice)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.SumPrice)
            </h4>

            <p>
                @Html.DisplayFor(model => model.SumPrice)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Date)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Date)
            </p>
        </div>
        <div class="col-sm-6 pull-right PaddingLeftPart col-xs-12">
            <h4>
                @Html.DisplayNameFor(model => model.Quantity)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Quantity)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Bnd.Name)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Bnd.Name)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Center.Name)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Center.Name)
            </p>
        </div>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("العودة إلى البند", "Index")
        </div>
    }
</div>