@model IntensiveLearning.Models.MissionsModel

@{
    ViewBag.Title = "Edit";
}
<div class="WhiteBlur">
    <h2>Edit</h2>
    <div class="InfoContainer">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Mission</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.mission.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.mission.MissionText, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.mission.MissionText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.mission.MissionText, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ManagerId, "مدير المهمة", htmlAttributes: new { @class = "control-label " })
                    <select name="ManagerId" id="ManagerId" class="form-control">
                        @foreach (var item in ViewBag.ManagerId.Items)
                        {
                            if (item.id == ViewBag.ManagerId.SelectedValue)
                            {
                                <option value="@item.id" selected>@item.name @item.surname</option>
                            }
                            else
                            {
                                <option value="@item.id">@item.name @item.surname</option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group">
                    <label>المسؤولين عن المهمة</label>
                    <select multiple name="PeopleInCharge" id="PeopleInCharge" class="form-control" style="height:200px !important;">
                        @foreach (var item in ViewBag.PeopleInCharge.Items)
                        {

                            int s = 0;
                            for (int i = 0; i < ViewBag.PeopleInCharge.SelectedValues.Count; i++)
                            {
                                if (ViewBag.PeopleInCharge.SelectedValues[i] == item.id)
                                {
                                    <option value="@item.id" selected>@item.name @item.surname</option>
                                    s++;
                                }
                            }
                            if (s == 0)
                            {
                                <option value="@item.id">@item.name @item.surname</option>
                            }
                        }
                    </select>
                    <label class="text-danger">@ViewBag.PeopleInChargeError</label>
                </div>

                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("العودة إلى اللائحة", "Index")
    </div>
</div>