<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-full"></div>
    <div class="navbar-fixed-top">

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-2 hidden-xs text-center">
                    <img src="~/Content/Images/Logo.png" onclick="GoToDefault()" class="ImageLogo" />
                    @*@Html.ActionLink("TaalimMidad", "Default", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="hidden-lg hidden-sm hidden-md col-xs-6 text-left">
                    <img src="~/Content/Images/Logo.png" onclick="GoToDefault()" class="ImageLogo" />
                    @*@Html.ActionLink("TaalimMidad", "Default", "Home", new { area = "" }, new { @class = "navbar-brand" , @style="float:left !important" })*@
                </div>
                <div class="col-sm-10 col-xs-6" style="position:relative;">

                    <nav class="navbar  navbar-right " style="margin-bottom:0">
                        <div class="container-fluid">

                            <ul class="nav navbar-nav hidden-xs HomePageNavBar">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:18px">
                                       @Session["Type"]
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Home/ChangePassword" class="NavBar-Type">تغيير كلمة المرور</a></li>
                                        <li><a href="/Home/Logout" class="NavBar-Type">تسجيل خروج</a></li>
                                    </ul>
                                </li>

                                <li><a href="/Complains/Create" class="NavBar-Type">تقديم شكوى</a></li>


                            </ul>
                                <span class="navbar-brand hidden-xs" onclick="toggleLeftMenu()" id="togglebutton">&#9776;</span>
                                <span class="navbar-brand hidden-lg hidden-md hidden-sm" onclick="toggleLeftMenu()" id="togglebutton" style="float:right;">&#9776;</span>

                        </div>
                    </nav>
                    @*<div class="hidden-xs">
                            <a href="#" class="NavBar-Type">@Session["Type"]</a>
                            <a href="/Home/ChangePassword" class="NavBar-Type">تغيير كلمة المرور</a>
                            <a href="/Complains/Create" class="NavBar-Type">تقديم شكوى</a>
                            <a href="/Home/Logout" class="NavBar-Type">تسجيل خروج</a>
                        </div>*@
                    <div style="top:75px;height:100%;display:block;position:fixed;right:0;z-index:1" id="leftMenu">
                        <div class="SideBar">
                            @if (Session["AddNewEmployeeType"] != null)
                            {
                                if ((bool)Session["AddNewEmployeeType"] == true)
                                {
                                    @*<a href="@Url.Action("Index", "EmployeeTypes")">انواع الموظفين<span>Text</span></a>*@
                                    @Html.ActionLink("انواع الموظفين", "Index", "EmployeeTypes")
                                    @Html.ActionLink("موظفين", "Index", "Employees")
                                }
                            }
                            @if (Session["AddNewProject"] != null || Session["AddNewEmployeeType"] != null)
                            {
                                try
                                {
                                    if ((bool)Session["AddNewProject"] == true)
                                    {
                                        @Html.ActionLink("المشاريع", "Index", "Projects")
                                    }
                                    else if ((bool)Session["AddNewEmployeeType"] == true)
                                    {
                                        @Html.ActionLink("المشاريع", "Index", "Projects")
                                    }


                                }
                                catch
                                {
                                    if ((bool)Session["AddNewEmployeeType"] == true)
                                    {
                                        @Html.ActionLink("المشاريع", "Index", "Projects")
                                    }
                                }

                            }
                            @if (Session["SeeAll"] != null)
                            {
                                if ((bool)Session["SeeAll"] == true)
                                {

                                    @Html.ActionLink("موظفين", "Index", "Employees")
                                    @Html.ActionLink("مراكز", "Index", "Centers")
                                    @Html.ActionLink("مدن", "Index", "Cities")
                                    @Html.ActionLink("الحضور", "Index", "Presences")
                                    @Html.ActionLink("امتحانات", "Index", "Examinations")
                                    @Html.ActionLink("طلاب", "Index", "Students")
                                    @Html.ActionLink("مراحل", "Index", "Stages")
                                    @Html.ActionLink("فترات", "Index", "Periods")
                                    @Html.ActionLink("فوج", "Index", "Regiments")
                                    @Html.ActionLink("مواد", "Index", "Study_subject")
                                    @Html.ActionLink("الشكاوى", "Index", "Complains")
                                    @Html.ActionLink("التقارير اليومية", "Index", "DailyReport")
                                    @Html.ActionLink("نوع الامتحان", "Index", "ExamTypes")
                                    @Html.ActionLink("انواع الموظفين", "Index", "EmployeeTypes")
                                    @Html.ActionLink("دروس يومية", "Index", "Lessons")

                                }
                            }
                            @if (Session["SeeAllButFinance"] != null)
                            {
                                if ((bool)Session["SeeAllButFinance"] == true)
                                {
                                    @Html.ActionLink("موظفين", "Index", "Employees")
                                    @Html.ActionLink("مراكز", "Index", "Centers")
                                    @Html.ActionLink("مدن", "Index", "Cities")
                                    @Html.ActionLink("الحضور", "Index", "Presences")
                                    @Html.ActionLink("امتحانات", "Index", "Examinations")
                                    @Html.ActionLink("طلاب", "Index", "Students")
                                    @Html.ActionLink("مراحل", "Index", "Stages")
                                    @Html.ActionLink("فترات", "Index", "Periods")
                                    @Html.ActionLink("فوج", "Index", "Regiments")
                                    @Html.ActionLink("مواد", "Index", "Study_subject")
                                    @Html.ActionLink("الشكاوى", "Index", "Complains")
                                    @Html.ActionLink("التقارير اليومية", "Index", "DailyReport")
                                    @Html.ActionLink("نوع الامتحان", "Index", "ExamTypes")
                                    @Html.ActionLink("انواع الموظفين", "Index", "EmployeeTypes")
                                    @Html.ActionLink("دروس يومية", "Index", "Lessons")
                                }
                            }
                            @if (Session["SeeAccToCity"] != null)
                            {

                                if ((bool)Session["SeeAccToCity"] == true)
                                {                                  
                                    @Html.ActionLink("موظفين", "Index", "Employees")
                                    @Html.ActionLink("امتحانات", "Index", "Examinations")
                                    @Html.ActionLink("طلاب", "Index", "Students")
                                    @Html.ActionLink("الحضور", "Index", "Presences")
                                    @Html.ActionLink("مراكز", "Index", "Centers")
                                    @Html.ActionLink("مدن", "Index", "Cities")
                                    @Html.ActionLink("مراحل", "Index", "Stages")
                                    @Html.ActionLink("فترات", "Index", "Periods")
                                    @Html.ActionLink("فوج", "Index", "Regiments")
                                    @Html.ActionLink("مواد", "Index", "Study_subject")
                                    @Html.ActionLink("دروس يومية", "Index", "Lessons")
                                    @Html.ActionLink("الشكاوى", "Index", "Complains")
                                    @Html.ActionLink("التقارير اليومية", "Index", "DailyReport")
                                    @Html.ActionLink("نوع الامتحان", "Index", "ExamTypes")
                                }
                            }

                            @if (Session["SeeAccToCenter"] != null)
                            {
                                if ((bool)Session["SeeAccToCenter"] == true)
                                {
                                    @Html.ActionLink("موظفين", "Index", "Employees")
                                    @Html.ActionLink("طلاب", "Index", "Students")
                                    @Html.ActionLink("الحضور", "Index", "Presences")
                                    @Html.ActionLink("امتحانات", "Index", "Examinations")
                                    @Html.ActionLink("مراحل", "Index", "Stages")
                                    @Html.ActionLink("فترات", "Index", "Periods")
                                    @Html.ActionLink("فوج", "Index", "Regiments")
                                    @Html.ActionLink("مواد", "Index", "Study_subject")
                                    @Html.ActionLink("دروس يومية", "Index", "Lessons")
                                    @Html.ActionLink("نوع الامتحان", "Index", "ExamTypes")
                                }
                            }
                            @if (Session["SeeTeachers"] != null)
                            {
                                if ((bool)Session["SeeTeachers"] == true)
                                {
                                    @Html.ActionLink("طلاب", "Index", "Students")
                                    @Html.ActionLink("امتحانات", "Index", "Examinations")
                                }
                            }
                            <div class="hidden-md hidden-lg hidden-sm">
                                @Html.ActionLink("تغيير كلمة المرور", "ChangePassword", "Home")
                                @Html.ActionLink("تقديم شكوى", "Create", "Complains")
                                @Html.ActionLink("تسجيل خروج", "Logout", "Home")
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div style="padding:0;height:100%;">

        <div class="container body-content" style="text-align:right;padding-top:90.7px;" id="TemplateForm">
            @RenderBody()

        </div>
        <div id="desktopTest" class="visible-xs"></div>
    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/controller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Scripts/ExportExcel.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
