@model IntensiveLearning.Database.Examination

@{
    ViewBag.Title = "حذف";
}
<div class="WhiteBlur">
    <h2>حذف</h2>
    <div class="InfoContainer">
        <h3>هل أنت متأكد من حذف الامتحان؟</h3>
        <h4>امتحان</h4>
        <hr />

        <h4>
            @Html.DisplayNameFor(model => model.Desc)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Desc)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Mark)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Mark)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Date)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Date)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Student.Stage.StageName)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Student.Stage.StageName)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Student.Name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Student.Name)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Study_subject.Name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Study_subject.Name)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.ExamType.Type)
        </h4>

        <p>
            @Html.DisplayFor(model => model.ExamType.Type)
        </p>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-danger" /> |
                @Html.ActionLink("العودة إلى اللائحة", "Index")
            </div>
        }
        <p class="text-danger">@ViewBag.error</p>

    </div>

    </div>