@model IntensiveLearning.Database.Bnd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bnd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterReductionNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterReductionNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month1Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month1Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month2Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month2Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month3Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month3Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month4Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month4Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month5Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month5Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month6Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month6Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month7Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month7Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month8Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month8Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month9Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month9Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month10Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month10Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month11Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month11Share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month12Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month12Share)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
