@model IntensiveLearning.Database.Employee

@{
    ViewBag.Title = "حذف";
}

    <h2>حذف</h2>

    <h3>هل أنت متاكد من حذف الموظف؟</h3>
    <div>
        <h4>موظف</h4>
        <hr />

        <h4>
            @Html.DisplayNameFor(model => model.name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.name)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.surname)
        </h4>

        <p>
            @Html.DisplayFor(model => model.surname)
        </p>
        <h4>
            @Html.DisplayNameFor(model => model.FathersName)
        </h4>

        <p>
            @Html.DisplayFor(model => model.FathersName)
        </p>
        <h4>
            @Html.DisplayNameFor(model => model.BDate)
        </h4>

        <p>
            @Html.DisplayFor(model => model.BDate)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Certificate)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Certificate)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.CType)
        </h4>

        <p>
            @Html.DisplayFor(model => model.CType)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.State)
        </h4>

        <p>
            @Html.DisplayFor(model => model.State)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.SDate)
        </h4>
        <p>
            @Html.DisplayFor(model => model.Sex)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Sex)
        </h4>
        <p>
            @Html.DisplayFor(model => model.SDate)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.EDate)
        </h4>

        <p>
            @Html.DisplayFor(model => model.EDate)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Center.Name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Center.Name)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.EmployeeType.Type)
        </h4>

        <p>
            @Html.DisplayFor(model => model.EmployeeType.Type)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Period.Name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Period.Name)
        </p>
        <h4>
            @Html.DisplayNameFor(model => model.Salary)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Salary)
        </p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-danger" /> |

                @Html.ActionLink("العودة إلى اللائحة", "Index")

            </div>
        }
        <p class="text-danger">@ViewBag.error</p>

    </div>
