@model IntensiveLearning.Database.Period

@{
    ViewBag.Title = "معلومات";
}

    <h2>معلومات</h2>

    <div>
        <h4>فترة</h4>
        <hr />

        <h4>
            @Html.DisplayNameFor(model => model.Name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Name)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.StartingTime)
        </h4>

        <p>
            @Html.DisplayFor(model => model.StartingTime)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.EndTime)
        </h4>

        <p>
            @Html.DisplayFor(model => model.EndTime)
        </p>


    </div>
    <p>
        @if (Session["AddSchoolManagingTools"] != null)
        {
            if ((bool)Session["AddSchoolManagingTools"] == true)
            {
                @Html.ActionLink("تعديل", "Edit", new { id = Model.id })
                @: |
    }
        }
        @Html.ActionLink("العودة إلى اللائحة", "Index")
    </p>
