@model IntensiveLearning.Database.Presence

@{
    ViewBag.Title = "Edit";
}
<div class="WhiteBlur">
    <h2>تعديل</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>الحضور والغياب</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            <div class="col-sm-6 hidden-xs">
                <div style="padding-right:10px;">
                    <div class="form-group">
                        <label for="Lesson3" style="display:inline-block">الدرس الثالث</label>
                        <input type="checkbox" style="display:inline-block" name="Lesson3" id="Lesson3" value="true" @if (Model.Lesson3 == true) { @: checked
                                                                                                                                                                          	} />
                    </div>

                    <div class="form-group">
                        <label for="Lesson4" style="display:inline-block">الدرس الرابع</label>
                        <input type="checkbox" style="display:inline-block" name="Lesson4" id="Lesson4" value="true" @if (Model.Lesson4 == true) { @: checked
                                                                                                                                   	} />
                    </div>

                    <div class="form-group">
                        <label for="Lesson5" style="display:inline-block">الدرس الخامس</label>
                        <input type="checkbox" style="display:inline-block" name="Lesson5" id="Lesson5" value="true" @if (Model.Lesson5 == true) { @: checked
                                                                                                                                   	} />
                    </div>

                    <div class="form-group">
                        <label for="Lesson6" style="display:inline-block">الدرس السادس</label>
                        <input type="checkbox" style="display:inline-block" name="Lesson6" id="Lesson6" value="true" @if (Model.Lesson6 == true) { @: checked
                                                                                                                                   	} />
                    </div>

                    <div class="form-group">
                        <label for="Lesson7" style="display:inline-block">الدرس السابع</label>
                        <input type="checkbox" style="display:inline-block" name="Lesson7" id="Lesson7" value="true" @if (Model.Lesson7 == true) { @: checked
                                                                                                                                   	} />
                    </div>


                </div>
            </div>
            <div class="col-sm-6 hidden-xs">
                <div style="padding-left:10px;">








                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })


                        <div>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Date.Value.ToString("yyyy-MM-dd") } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label" })


                        <div>
                            @Html.EditorFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Studentid, "الطالب", htmlAttributes: new { @class = "control-label" })


                        <div>
                            @Html.DropDownList("Studentid", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Studentid, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="form-group">
                        <label for="Lesson1" style="display:inline-block">الدرس الأول</label>
                        <input type="checkbox" style="display:inline-block" name="Lesson1" id="Lesson1" value="true" @if (Model.Lesson1 == true) { @: checked
                                                                                                                                           	} />
                    </div>

                    <div class="form-group">
                        <label for="Lesson2" style="display:inline-block">الدرس الثاني</label>
                        <input type="checkbox" style="display:inline-block" name="Lesson2" id="Lesson2" value="true" @if (Model.Lesson2 == true) { @: checked
                                                                                                                                           	} />
                    </div>
                </div>
            </div>
            <div class="visible-xs">

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })


                    <div>
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Date.Value.ToString("yyyy-MM-dd") } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label" })


                    <div>
                        @Html.EditorFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Studentid, "الطالب", htmlAttributes: new { @class = "control-label" })


                    <div>
                        @Html.DropDownList("Studentid", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Studentid, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="form-group">
                    <label for="Lesson1" style="display:inline-block">الدرس الأول</label>
                    <input type="checkbox" style="display:inline-block" name="Lesson1" id="Lesson1" value="true" @if (Model.Lesson1 == true) { @: checked
                                                                                                                                                                      	} />
                </div>

                <div class="form-group">
                    <label for="Lesson2" style="display:inline-block">الدرس الثاني</label>
                    <input type="checkbox" style="display:inline-block" name="Lesson2" id="Lesson2" value="true" @if (Model.Lesson2 == true) { @: checked
                                                                                                                                                                      	} />
                </div>

                <div class="form-group">
                    <label for="Lesson3" style="display:inline-block">الدرس الثالث</label>
                    <input type="checkbox" style="display:inline-block" name="Lesson3" id="Lesson3" value="true" @if (Model.Lesson3 == true) { @: checked
                                                                                                                                                                                                     	} />
                </div>

                <div class="form-group">
                    <label for="Lesson4" style="display:inline-block">الدرس الرابع</label>
                    <input type="checkbox" style="display:inline-block" name="Lesson4" id="Lesson4" value="true" @if (Model.Lesson4 == true) { @: checked
                                                                                                                                                              	} />
                </div>

                <div class="form-group">
                    <label for="Lesson5" style="display:inline-block">الدرس الخامس</label>
                    <input type="checkbox" style="display:inline-block" name="Lesson5" id="Lesson5" value="true" @if (Model.Lesson5 == true) { @: checked
                                                                                                                                                              	} />
                </div>

                <div class="form-group">
                    <label for="Lesson6" style="display:inline-block">الدرس السادس</label>
                    <input type="checkbox" style="display:inline-block" name="Lesson6" id="Lesson6" value="true" @if (Model.Lesson6 == true) { @: checked
                                                                                                                                                              	} />
                </div>

                <div class="form-group">
                    <label for="Lesson7" style="display:inline-block">الدرس السابع</label>
                    <input type="checkbox" style="display:inline-block" name="Lesson7" id="Lesson7" value="true" @if (Model.Lesson7 == true) { @: checked
                                                                                                                                                              	} />
                </div>



            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="حفظ" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("العودة إلى اللائحة", "Index")
    </div>
</div>