@model IntensiveLearning.Database.Study_subject

@{
    ViewBag.Title = "حذف";
}
<div class="WhiteBlur">
    <h2>حذف</h2>

    <h3>هل أنت متأكد من حذف المادة؟</h3>
    <div class="InfoContainer">
        <h4>مادة</h4>
        <hr />

        <h4>
            @Html.DisplayNameFor(model => model.Name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Name)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Desc)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Desc)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.FullMark)
        </h4>

        <p>
            @Html.DisplayFor(model => model.FullMark)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.LeastMark)
        </h4>

        <p>
            @Html.DisplayFor(model => model.LeastMark)
        </p>





        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-danger" /> |
                @Html.ActionLink("العودة إلى اللائحة", "Index")
            </div>
        }

        <p class="text-danger">@ViewBag.error</p>
    </div>
    </div>