@model IntensiveLearning.Database.Study_subject

@{
    ViewBag.Title = "معلومات";
}
<div class="WhiteBlur">
    <h2>معلومات</h2>

    <div class="InfoContainer">
        <h4>مادة</h4>
        <hr />

        <h4>
            @Html.DisplayNameFor(model => model.Name)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Name)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Desc)
        </h4>

        <p>
            @Html.DisplayFor(model => model.Desc)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.FullMark)
        </h4>

        <p>
            @Html.DisplayFor(model => model.FullMark)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.LeastMark)
        </h4>

        <p>
            @Html.DisplayFor(model => model.LeastMark)
        </p>



        <p>
            @if (Session["AddSchoolManagingTools"] != null)
            {
                if ((bool)Session["AddSchoolManagingTools"] == true)
                {
                    @Html.ActionLink("تعديل", "Edit", new { id = Model.id })
                    @: |
    }
            }
            @Html.ActionLink("العودة إلى اللائحة", "Index")
        </p>
    </div>
</div>