@model IntensiveLearning.Database.Regiment

@{
    ViewBag.Title = "معلومات";
}
<div class="WhiteBlur">
    <h2>معلومات</h2>

    <div class="InfoContainer">
        <h4>فوج</h4>
        <hr />
        <div class="col-sm-6">
            <h4>
                @Html.DisplayNameFor(model => model.Day1)
            </h4>

            <p>
                @if (Model.Day1 != null && Model.Day1 == true)
            {
                    @:نعم
                }
            else
            {
                    @:لا
                }
            </p>
            <h4>
                @Html.DisplayNameFor(model => model.Day3)
            </h4>

            <p>
                @if (Model.Day3 != null && Model.Day3 == true)
            {
                    @:نعم
                }
            else
            {
                    @:لا
                }
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Day5)
            </h4>

            <p>
                @if (Model.Day5 != null && Model.Day5 == true)
            {
                    @:نعم
                }
            else
            {
                    @:لا
                }
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Day7)
            </h4>

            <p>
                @if (Model.Day7 != null && Model.Day7 == true)
            {
                    @:نعم
                }
            else
            {
                    @:لا
                }
            </p>
            <h4>
                @Html.DisplayNameFor(model => model.Period.Name)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Period.Name)
            </p>




        </div>
        <div class="col-sm-6">
            <h4>
                @Html.DisplayNameFor(model => model.Name)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Name)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Day2)
            </h4>

            <p>
                @if (Model.Day2 != null && Model.Day2 == true)
            {
                    @:نعم
                }
            else
            {
                    @:لا
                }
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Day4)
            </h4>

            <p>
                @if (Model.Day4 != null && Model.Day4 == true)
            {
                    @:نعم
                }
            else
            {
                    @:لا
                }
            </p>


            <h4>
                @Html.DisplayNameFor(model => model.Day6)
            </h4>

            <p>
                @if (Model.Day6 != null && Model.Day6 == true)
            {
                    @:نعم
                }
            else
            {
                    @:لا
                }
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Desc)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Desc)
            </p>





        </div>






    </div>
    <p>
        @if (Session["AddSchoolManagingTools"] != null)
        {
            if ((bool)Session["AddSchoolManagingTools"] == true)
            {
                @Html.ActionLink("تعديل", "Edit", new { id = Model.id })
                @: |
    }
        }
        @Html.ActionLink("العودة إلى اللائحة", "Index")
    </p>
    </div>