@model IEnumerable<IntensiveLearning.Database.Student>

@{
    ViewBag.Title = "لائحة الطلاب";
}
<div ng-controller="SearchCtrl">

    <h2>لائحة الطلاب</h2>

    @if (Session["AddStudent"] != null)
    {
        if ((bool)Session["AddStudent"] == true)
        {
            using (Html.BeginForm("Create","Students", FormMethod.Get))
            {
                <button type="submit" class="btn btn-warning">انشاء جديد</button>
            }
        }
    }
    <div class="col-md-12" style="margin-bottom:20px;padding:0;border:0">
        <div class="col-md-10" style="margin:0;padding:0;border:0">
            <input type="text" class="form-control " style="display:inline-block !important;text-align:right" name="search" id="search" placeholder="...البحث" ng-change="StudentSearchBox()" ng-model="StudentSearchBoxData" />
        </div>
        <div class="col-md-2" style="margin:0;padding:0;border:0">
            <input type="date" class="form-control " style="display:inline-block !important;" name="searchdate" id="searchdate" ng-change="StudentSearchBox()" ng-model="StudentSearchBoxDate" />
        </div>
    </div>

    <div id="table_wrapper">

        <table class="table table-striped" ng-hide="StudentRazorForm">
            <thead>
                <tr class="bg-primary">
                    <th></th>
                    <th>الاثبات</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stage.StageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Regiment.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Center.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Certificate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (Session["AddStudent"] != null)
                                {
                                    if ((bool)Session["AddStudent"] == true)
                                    {
                                        <div style="width:210px;">
                                            @Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                                            @Html.ActionLink("معلومات", "Details", new { id = item.id }, new { @class = "btn btn-info", @style = "margin:0 4px 0 4px " })
                                            @Html.ActionLink("تعديل", "Edit", new { id = item.id }, new { @class = "btn btn-success" })
                                        </div>
                                    }

                                }
                                else
                                {
                                    @Html.ActionLink("معلومات", "Details", new { id = item.id }, new { @class = "btn btn-info",@title= "حذف" })

                                }


                            </td>
                            <td>
                                @if (item.Proof != null)
                                {
                                    @Html.ActionLink("تحميل", "DownloadProof", "Json", new { ImageName = item.Proof }, new { @class = "btn btn-warning" })
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stage.StageName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Regiment.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Center.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mark)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Certificate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>



    <button id="btnExport" class="btn btn-warning" ng-hide="StudentRazorForm">Export to xls</button>




    <div id="table_wrapper2">
        <table class="table table-striped" ng-cloak ng-show="StudentAngularForm">
            <thead>
                <tr class="bg-primary">

                    <th></th>
                    <th>الاثبات</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stage.StageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Regiment.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Center.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Certificate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>



                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="Exam in Exams">
                    <td>
                        @if (Session["AddStudent"] != null)
                        {
                            if ((bool)Session["AddStudent"] == true)
                            {
                                <div style="width:210px;">
                                    <a class="btn btn-danger" href="Students/Delete/{{Exam.ID}}" title="حذف">حذف</a>
                                    <a class="btn btn-info" href="Students/Details/{{Exam.ID}}" title="معلومات">معلومات</a>
                                    <a class="btn btn-success" href="Students/Edit/{{Exam.ID}}" title="تعديل">تعديل</a>
                                </div>
                            }

                        }
                        else
                        {
                            <a class="btn btn-info" href="Students/Details/{{Exam.ID}}" title="معلومات">معلومات</a>

                        }
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/Json/DownloadProof/{{Exam.Proof}}" title="تحميل">تحميل</a>
                    </td>
                    <td>{{Exam.StageName}}</td>
                    <td>{{Exam.Regiment}}</td>
                    <td>{{Exam.Center}}</td>
                    <td>{{Exam.EDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{Exam.SDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{Exam.State}}</td>
                    <td>{{Exam.Sex}}</td>
                    <td>{{Exam.Mark}}</td>
                    <td>{{Exam.Certificate}}</td>
                    <td>{{Exam.BDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{Exam.Surname}}</td>
                    <td>{{Exam.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button id="btnExport2" class="btn btn-warning" ng-cloak ng-show="StudentAngularForm">Export to xls</button>

</div>
