@model IEnumerable<IntensiveLearning.Database.Student>

@{
    ViewBag.Title = "لائحة الطلاب";
}
<div ng-controller="StudentsCtrl">

    <h2>لائحة الطلاب</h2>

    @if (Session["AddStudent"] != null)
    {
        if ((bool)Session["AddStudent"] == true)
        {
            <div style="display:block;margin-bottom:10px;">
                @using (Html.BeginForm("Create", "Students", FormMethod.Get, new { style = "display:inline-block;" }))
                {
                    <button type="submit" class="btn btn-warning">انشاء جديد</button>
                }
                <button id="btnImport" style="float:left;display:inline-block" class="btn btn-warning">xls استيراد من</button>

                <div id="ImportExcel" style="display:none;float:left;margin-left:10px;background-color:rgba(255,255,255,0.7);padding:2px;border-radius:5px;">
                    @using (Html.BeginForm("ImportStudents", "ExcelImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="file" style="color:#337ab7;display:inline-block" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <input type="submit" class="btn btn-primary" value="ارسال" />
                        if (ViewBag.Importerror != null)
                        {
                            <p>@ViewBag.Importerror</p>
                        }
                    }
                </div>
            </div>
        }
    }
    <div class="col-md-12" style="margin-bottom:20px;padding:0;border:0">
        <div class="col-md-10" style="margin:0;padding:0;border:0">
            <input type="text" class="form-control " style="display:inline-block !important;text-align:right" name="search" id="search" placeholder="...البحث" ng-change="StudentSearchBox()" ng-model="StudentSearchBoxData" />
        </div>
        <div class="col-md-2" style="margin:0;padding:0;border:0">
            <input type="date" class="form-control " style="display:inline-block !important;" name="searchdate" id="searchdate" ng-change="StudentSearchBox()" ng-model="StudentSearchBoxDate" />
        </div>
    </div>



    <div id="table_wrapper">
        <table class="table table-striped">
            <thead>
                <tr class="bg-primary">

                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FathersName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mothersname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Certificate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OldSchool)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentState)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.SDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Center.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Regiment.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Regiment.Period.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stage.StageName)
                    </th>
                    <th>التوقيع</th>
                    @if (Session["SeeTeacher"] != null)
                    {
                        if ((bool)Session["SeeTeacher"] == true)
                        {

                        }
                        else
                        {
                            <th>الاثبات</th>
                        }
                    }
                    else
                    {
                        <th>الاثبات</th>
                    }
                    <th></th>


                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="Student in Students">
                    <td ng-if="Approval == false" style="background-color:darkred"></td>
                    <td ng-if="Approval == true" style="background-color:forestgreen"></td>
                    <td ng-if="Approval == null" style="background-color:gray"></td>
                    <td>{{Student.StudentNumber}}</td>
                    <td>{{Student.Name}}</td>
                    <td>{{Student.Surname}}</td>
                    <td>{{Student.Fathersname}}</td>
                    <td>{{Student.Mothersname}}</td>
                    <td>{{Student.BDate | date:'MM/dd/yyyy'}}</td>

                    <td>{{Student.Certificate}}</td>
                    <td>{{Student.Mark}}</td>
                    <td>{{Student.OldSchool}}</td>
                    <td>{{Student.StudentState}}</td>
                    <td>{{Student.Sex}}</td>
                    <td>{{Student.State}}</td>
                    <td>{{Student.SDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{Student.EDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{Student.Center}}</td>
                    <td>{{Student.Regiment}}</td>
                    <td>{{Student.Period}}</td>
                    <td>{{Student.StageName}}</td>
                    <td>
                        @if (Session["SeeAccToCity"] != null)
                        {
                            if ((bool)Session["SeeAccToCity"] == true)
                            {
                                <a ng-if="Approval == null" href="/Json/Approvals/{{Exam.id}}?type=Employees&amp;acceptance=true" style="color:forestgreen">قبول</a>
                                <a ng-if="Approval == null" href="/Json/Approvals/{{Exam.id}}?type=Employees&amp;acceptance=false" style="color:darkred">رفض</a>

                                <p ng-if="Approval == true" style="color:forestgreen">مقبول</p>
                                <p ng-if="Approval == false" style="color:darkred">مرفوض</p>
                            }
                            else
                            {
                                <p ng-if="Approval == null" style="color:gray">بالانتظار</p>
                                <p ng-if="Approval == true" style="color:forestgreen">مقبول</p>
                                <p ng-if="Approval == false" style="color:darkred">مرفوض</p>
                            }

                        }
                        else
                        {
                            <p ng-if="Approval == null" style="color:gray">بالانتظار</p>
                            <p ng-if="Approval == true" style="color:forestgreen">مقبول</p>
                            <p ng-if="Approval == false" style="color:darkred">مرفوض</p>
                        }
                    </td>
                    <td>
                        @if (Session["SeeTeacher"] != null)
                        {
                            if ((bool)Session["SeeTeacher"] == true)
                            {

                            }
                            else
                            {
                                <a ng-if="Student.Proof != null" class="btn btn-warning" href="/Json/DownloadProof/{{Student.Proof}}" title="تحميل"><span class="glyphicon glyphicon-download-alt"></span></a>
                            }
                        }
                        else
                        {
                            <a ng-if="Student.Proof != null" class="btn btn-warning" href="/Json/DownloadProof/{{Student.Proof}}" title="تحميل"><span class="glyphicon glyphicon-download-alt"></span></a>
                        }
                    </td>







                    <td>
                        @if (Session["AddStudent"] != null)
                        {
                            if ((bool)Session["AddStudent"] == true)
                            {
                                <div style="width:210px;">
                                    <a class="btn btn-danger" href="Students/Delete/{{Student.ID}}" title="حذف"><span class="glyphicon glyphicon-trash"></span></a>
                                    <a class="btn btn-info" href="Students/Details/{{Student.ID}}" title="معلومات"><span class="glyphicon glyphicon-folder-open"></span></a>
                                    <a class="btn btn-success" href="Students/Edit/{{Student.ID}}" title="تعديل"><span class="glyphicon glyphicon-pencil"></span></a>
                                </div>
                            }

                        }
                        else
                        {
                            <a class="btn btn-info" href="Students/Details/{{Student.ID}}" title="معلومات"><span class="glyphicon glyphicon-folder-open"></span></a>

                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button id="btnExport" class="btn btn-warning">Export to xls</button>

</div>


@if (ViewBag.StateMessage != null)
{
    <div class="alert alert-success alert-dismissible" role="alert" style="width:inherit;position:absolute;bottom:5%;" id="ToFadeMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.StateMessage
    </div>
}   












@*<div id="table_wrapper">

            <table class="table table-striped" ng-hide="StudentRazorForm">
                <thead>
                    <tr class="bg-primary">
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FathersName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mothersname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Certificate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mark)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OldSchool)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentState)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Center.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Regiment.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Regiment.Period.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stage.StageName)
                        </th>

                        <th>التوقيع</th>
                        @if (Session["SeeTeachers"] != null)
                        {
                            if ((bool)Session["SeeTeachers"] == true)
                            {
                                <th></th>
                            }
                            else
                            {
                                <th>الاثبات</th>
                            }
                        }
                        else
                        {
                            <th>الاثبات</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td @if (item.Approval == null) { @: style="background-color:gray"
                                                                                                                                                                } else if (item.Approval != null) { if (item.Approval == true) { @: style="background-color:#5cb85c"
                                                                                                                                                                    } else { @: style="background-color:#d9534f"
                                                                                                                                                                    } }></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FathersName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mothersname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Certificate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mark)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OldSchool)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentState)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sex)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Center.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Regiment.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Regiment.Period.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stage.StageName)
                                </td>
                                <td>
                                    @if (Session["SeeAccToCity"] != null)
                                    {
                                        if ((bool)Session["SeeAccToCity"] == true)
                                        {
                                            if (item.Approval == null)
                                            {
                                                <a href="@Url.Action("Approvals","Json",new { id = item.id, type = "Employees",acceptance = true })" style="color:forestgreen">قبول</a>
                                                <a href="@Url.Action("Approvals","Json",new { id = item.id, type = "Employees",acceptance = false })" style="color:darkred">رفض</a>
                                            }
                                            else if (item.Approval != null)
                                            {
                                                if (item.Approval == true)
                                                {
                                                    <p style="color:forestgreen">مقبول</p>

                                                }
                                                else
                                                {
                                                    <p style="color:darkred">مرفوض</p>

                                                }
                                            }
                                        }
                                        else if (item.Approval == null)
                                        {
                                            <p style="color:gray">بالانتظار</p>
                                        }
                                        else if (item.Approval != null)
                                        {
                                            if (item.Approval == true)
                                            {
                                                <p style="color:forestgreen">مقبول</p>

                                            }
                                            else
                                            {
                                                <p style="color:darkred">مرفوض</p>

                                            }
                                        }


                                    }
                                    else if (item.Approval == null)
                                    {
                                        <p style="color:gray">بالانتظار</p>
                                    }
                                    else if (item.Approval != null)
                                    {
                                        if (item.Approval == true)
                                        {
                                            <p style="color:forestgreen">مقبول</p>

                                        }
                                        else
                                        {
                                            <p style="color:darkred">مرفوض</p>

                                        }
                                    }
                                </td>
                                <td>
                                    @if (Session["SeeTeachers"] != null)
                                    {
                                        if ((bool)Session["SeeTeachers"] == true)
                                        {

                                        }
                                        else
                                        {
                                            if (item.Proof != null)
                                            {
                                                <a href="@Url.Action("DownloadProof", "Json", new { ImageName = item.Proof} )" class="btn btn-warning"><span class="glyphicon glyphicon-download-alt"></span></a>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (item.Proof != null)
                                        {
                                            <a href="@Url.Action("DownloadProof", "Json", new { ImageName = item.Proof} )" class="btn btn-warning"><span class="glyphicon glyphicon-download-alt"></span></a>
                                        }
                                    }

                                </td>
                                <td>
                                    @if (Session["AddStudent"] != null)
                                    {
                                        if ((bool)Session["AddStudent"] == true)
                                        {
                                            <div style="width:130px;">
                                                <a href="/Students/Delete/@item.id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                                <a href="/Students/Details/@item.id" class="btn btn-info"><span class="glyphicon glyphicon-folder-open"></span></a>
                                                <a href="/Students/Edit/@item.id" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <a href="/Students/Details/@item.id" class="btn btn-info"><span class="glyphicon glyphicon-folder-open"></span></a>
                                    }


                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>



        <button id="btnExport" class="btn btn-warning" ng-hide="StudentRazorForm">Export to xls</button>*@
<div class="LoadingScreen" id="LoadingScreen">
    <div class="LoadingBackground"></div>
    <div class="LoadingIcon">
        <div class="lds-css ng-scope">
            <div class="lds-spinner" style="100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>